<header id="top">
    <div class="wrapper">
        <a href="{{ '/' | relative_url }}" class="brand">{{ site.title }}</a>
        <small>{{site.brief-intro}}</small>
        <button id="headerMenu" class="menu" type="button" aria-label="打开导航菜单" aria-controls="headerNav" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{ '/' | relative_url }}">
                        {% else %}
                    <a href="{{ '/' | relative_url }}">
                    {% endif %}
                        <i class="fa fa-home"></i>首页
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.type == 'page' %}
                    <li>
                        {% if my_page.url == page.url %}
                        <a class="active" href="{{ my_page.url | relative_url }}">
                            {% else %}
                        <a href="{{ my_page.url | relative_url }}">
                        {% endif %}
                            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
